.btn_first__div{
    /*background-color: red;
    */
    background-color: snow;
    position:relative;
    top: 30%;
    left: 15%;
    width: 60%;
    height: 10vh;
    margin: 30px;
    
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;

    
}


.btn_second__div {
    /* background-color: orange; */
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    right: 30%;
    gap: 1rem;
}

.btn_fetch__movies{
    background-color: #10439F;
    padding: 0.3rem 2rem;
    border: none;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    font-size: 25px;
    font-weight: 500;
    color: white;

    
}

.btn_cancel{
    background-color: orange;
 
}