.input_form__div{
    /* background-color: orange; */
    margin: 15px;
    padding: 0 0.2px;
    background-color: snow;
    position: relative;
    top: 30%;
    left: 15%;
    width: 60%;
    padding: 1rem 2rem;
    margin: 30px;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}


.control label{
    font-size: 20px;
    font-weight: 400;
    /* background-color: orange; */
    display: block;
    margin-bottom: 0.5rem;
    text-align: left;
}

.control input,
.control textarea{
    font-size: 20px;
    font-weight: 400;
    display: block;
    width: 100%;
    padding: 0.2rem;
}
